<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <div class="modal-content form-content">
     <div class="modal-header form-content">
       <h5 class="modal-title" id="exampleModalLabel">Tu souhaites changer le prix ?</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="container form-container">
         <%= simple_form_for(@product) do |f| %>
           <div class="form-top">
             <%= f.number_field :price_cents, label: "Quelle somme en cents ? (on va essayer de modifier)", placeholder: 0%>
           </div>
           <div class="btn btn-primary">
            <%= f.submit "Soumettre", class: 'btn btn-contact'%>
           </div>
         <% end %>
       </div>
     </div>
   </div>
  </div>
</div>
