
<%= link_to 'retour au Menu', root_path, class: "btn btn-success"%>
<br>
<p>Pour créer un vêtement, c'est ici que ça se passe >></p>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Nouveau vêtement :</h1>
      <%= simple_form_for [ @clothe ] do |f| %>
      <%= f.input :name, label: 'Nom du vêtement', placeholder: "Gilet, Pull, Pantalon" %>
       <div class="form-button mt-2">
        <%= f.submit "Créer le produit", class: 'btn btn-primary' %>
       </div>
       <br>
     <% end %>
    </div>
  </div>
</div>
