<div>
  <%= link_to fourniseurs_path do %>
    <button>MES FOURNISSEURS</button>
  <% end %>
  <%= link_to new_fournisseur_path do %>
    <button>CREER UN FOURNISSEUR</button>
  <% end %>
  <%= link_to fournisseur_path do %>
    <button>TROUVER UN FOURNISSEUR</button>
  <% end %>
</div>
