<h1>Graine de mômes</h1>
<h2>APPLI de Gestion du stock</h2>



<div>
  <%= link_to furnishers_path do %>
    <button>FOURNISSEURS</button>
  <% end %>
  <%= link_to stocks_path do %>
    <button>STOCKS</button>
  <% end %>
  <%= link_to comptabilite_path do %>
    <button>COMPTABILITE</button>
  <% end %>
</div>
