<h1>Graine de mômes</h1>
<h2>Gestion du stock</h2>



<div>
  <%= link_to fournisseur_path do %>
    <button>FOURNISSEURS</button>
  <% end %>
  <%= link_to stock_path do %>
    <button>STOCKS</button>
  <% end %>
  <%= link_to comptabilite_path do %>
    <button>COMPTABILITE</button>
  <% end %>
</div>
