<h1>Ceci est un pricer :</h1>

<p>Pour chaque marque, on va calculer le prix moyen par article.</p>
<p>L'objectif de ce pricer est double. Automatiser les prix des nouvaux articles saisis et s'autoalimenter par les produits enregistrés, dont le prix a pu être réévalué ultérieurement à la saisie.</p>
<p>En fonction de l'état du vêtement, on peut prévoir une majoration de 20% par exemple du prix moyen.</p>
<p>Sauf que les prix vont être impactés par cette majoration et faussé le prix moyen.</p>
<br>





