<div>
  <%= link_to products_path do %>
    <button>MES PRODUITS</button>
  <% end %>
  <%= link_to new_product_path do %>
    <button>CREER UN PRODUIT</button>
  <% end %>
  <%= link_to fournisseur_path do %>
    <button>GERER MES PRODUITS</button>
  <% end %>
</div>
