<p>Bonjour <%= @selection.fournisseur.firstname %></p>
<br>
<br>
<p>Tu trouveras en pièce jointe notre propostition des vêtements déposés le <%= @selection.date %>.</p>
<br>
<p>Désormais, nous te demandons de valider les prix proposés en nous retournant signé le présent PDF.</p>
<br>
<p>Nous restons à ta disposition.</p>
<br>
<h3>Graine de mômes - Boutique</h3>
