.buttons-home {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.buttons-home > a {
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 32px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(255,170,82,0.2);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  display:flex;
  align-items: center;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(255,170,82,0.6);
  }
}

.buttons-fournisseurs {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.buttons-fournisseurs a {
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 32px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  display:flex;
  align-items: center;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
  }
}

.button {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 32px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(54,159,110,0.2);
  text-align: center;
  display:flex;
  align-items: center;
  a {text-decoration: none;}
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(54,159,110,0.8);
    text-decoration: none;
    color: white;
  }
}
// Bouton vendu
.button-sm {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 24px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(54,159,110,0.2);
  text-align: center;
  a {text-decoration: none;}
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(54,159,110,0.8);
    text-decoration: none;
    color: white;
  }
}
// Bouton à vendre
.button-ts {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 24px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(255,81,47,0.2);
  text-align: center;
  display:flex;
  align-items: center;
  a {text-decoration: none;}
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(255,81,47,0.8);
    text-decoration: none;
    color: white;
  }
}

// Bouton Retouné
.button-return{
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 24px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(54,159,110,0.2);
  display:flex;
  align-items: center;
  a {text-decoration: none;}
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(54,159,110,0.8);
    text-decoration: none;
    color: white;
  }
}

.button-red {
  background: #e52d27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  height: 24px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(175,31,29,0.2);
  text-align: center;
  display:flex;
  align-items: center;
  a {text-decoration: none;}
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px rgba(175,31,29,0.8);
    border: 2px solid white;
    text-decoration: none;
    color: white;
  }
}
