<div>
  <h1>Nouveau produit</h1>
  <% new_product = Product.new %>
 <%= simple_form_for(new_product) do |f| %>
    <%= f.input :fullname, label: 'Prénom & Nom', placeholder: "Nom complet du fournisseur" %>
    <%= f.input :code, label: 'Code Référence de ce fournisseur', placeholder: "Exemple : 2020MB00152 [ANNEE+INITIALES+N°]" %>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
   <div class="form-button">
    <%= f.submit "Créer le produit", class: 'btn btn-primary' %>
   </div>
   <br>
 <% end %>

</div>
